@model Category

@{
    ViewData["Title"] = "Update";
}

  <form method="post">
    <div class="container-fluid border m-3 mt-5 p-3">

        <div>
            <h2>Edit Category</h2>
        </div>

        <div asp-validation-summary="All" class="text-info"></div>

          <div class="mb-3 border-1">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
          </div>
    
          <button type="submit" class="btn btn-success col-2 ml-0 m-1">Update</button>
          <button asp-controller="Category" asp-action="Index" type="submit" class="btn btn-secondary col-2 m-1">Go Back</button>
    </div>  
</form>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}*@


