@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyBookStore</h1>
    <p>The site is under construction. We will be live soon. Stay Tuned... .</p>
</div>
